.login-form {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
  form {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;

    button, input {
      border-radius: 3px;
      border-style: none;
    }

    button {
      padding: 6px 7px;
      margin-top: 10px;
      background-color: rgb(42, 31, 71);
      color: white;
    }

    button:hover{
      background-color: rgb(85, 70, 123);
    }

    input {
      margin-bottom: 10px;
      padding: 6px;
      background-color: rgb(180, 180, 180);
    }
  }
}